In [9]:
import sqlite3

In [10]:
conn = sqlite3.connect("classroom.db")
cursor = conn.cursor()

create_table = """
                CREATE TABLE IF NOT EXISTS CLASSROOM (
                STUDENT_ID INTEGER PRIMARY KEY, 
                NAME VARCHAR(20), 
                GENDER CHAR(1), 
                PHYSICS_MARKS INTEGER, 
                CHEMISTRY_MARKS INTEGER, 
                MATHEMATICS INTEGER);"""

cursor.execute(create_table)
conn.commit()
conn.close()